%hr
%div(id='results')
  %p You threw:
  %img(src='#{@player_throw}')
  %p The computer threw:
  %img(src='#{@computer_throw}')
  %br
  %p(id='divider') ---------- Calculating Results ----------
  %p(id='results') '#{@result}'
