<hr>
<div id='results'>
  <p>You threw: </p>
  <img src='<%= @player_throw %>'>
  <p>The computer threw: </p>
  <img src='<%= @computer_throw %>'> <br>
  <p class='divider'>---------- Calculating Results ----------</p>
  <p class='results'><%= @result %></p>
</div>
